.logo {
    min-width: fit-content;
}

.logo img {
    width: 100px;
    margin-right: 0.4rem;
    border-radius: 50px;
}

.logo > div {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 0.5rem;
}